<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AAPL,slot-name</key>
	<data>U2xvdC0gMQA=</data>
	<key>acpi-device</key>
	<string>IOACPIPlatformDevice is not serializable</string>
	<key>acpi-path</key>
	<string>IOACPIPlane:/_SB/PCI0@0/PEG0@10000/PEGP@0/PBRG@0/HDAU@1</string>
	<key>acpi-pmcap-offset</key>
	<integer>80</integer>
	<key>assigned-addresses</key>
	<data>EAEDggAAAAAAADqiAAAAAABAAAA=</data>
	<key>built-in</key>
	<data>AA==</data>
	<key>class-code</key>
	<data>AAMEAA==</data>
	<key>compatible</key>
	<data>cGNpMTQ2MiwzODIyAHBjaTEwMDIsYWIzOABwY2ljbGFzcywwNDAzMDAASERBVQA=</data>
	<key>device-id</key>
	<data>OKsAAA==</data>
	<key>driver-child-bundle</key>
	<string>com.apple.driver.AppleGFXHDA</string>
	<key>hda-gfx</key>
	<data>b25ib2FyZC0xAA==</data>
	<key>IOChildIndex</key>
	<integer>2</integer>
	<key>IODeviceMemory</key>
	<array>
		<array>
			<dict>
				<key>address</key>
				<integer>2721710080</integer>
				<key>length</key>
				<integer>16384</integer>
			</dict>
		</array>
	</array>
	<key>IOInterruptControllers</key>
	<array>
		<string>io-apic-0</string>
		<string>IOPCIMessagedInterruptController</string>
	</array>
	<key>IOInterruptSpecifiers</key>
	<array>
		<data>EQAAAAcAAAA=</data>
		<data>CQAAAAAAAQA=</data>
	</array>
	<key>IOName</key>
	<string>pci1002,ab38</string>
	<key>IOPCIExpressCapabilities</key>
	<integer>18</integer>
	<key>IOPCIExpressLinkCapabilities</key>
	<integer>4197636</integer>
	<key>IOPCIExpressLinkStatus</key>
	<integer>4356</integer>
	<key>IOPCIMSIMode</key>
	<true/>
	<key>IOPCIResourced</key>
	<true/>
	<key>IOPCIUseDeviceMapper</key>
	<true/>
	<key>IOPowerManagement</key>
	<dict>
		<key>CapabilityFlags</key>
		<integer>258</integer>
		<key>ChildProxyPowerState</key>
		<integer>2</integer>
		<key>ChildrenPowerState</key>
		<integer>2</integer>
		<key>CurrentPowerState</key>
		<integer>2</integer>
		<key>MaxPowerState</key>
		<integer>3</integer>
	</dict>
	<key>IOReportLegend</key>
	<array>
		<dict>
			<key>IOReportChannelInfo</key>
			<dict>
				<key>IOReportChannelUnit</key>
				<integer>0</integer>
			</dict>
			<key>IOReportChannels</key>
			<array>
				<array>
					<integer>5291294645182070784</integer>
					<integer>4295098369</integer>
					<string>               First Level Interrupt Handler Count</string>
				</array>
				<array>
					<integer>5291294645182070785</integer>
					<integer>4295098369</integer>
					<string>              Second Level Interrupt Handler Count</string>
				</array>
				<array>
					<integer>5291294645182070786</integer>
					<integer>4295098369</integer>
					<string>        First Level Interrupt Handler Time (MATUs)</string>
				</array>
				<array>
					<integer>5291294645182070787</integer>
					<integer>4295098369</integer>
					<string>   Second Level Interrupt Handler CPU Time (MATUs)</string>
				</array>
				<array>
					<integer>5291294645182070788</integer>
					<integer>4295098369</integer>
					<string>Second Level Interrupt Handler System Time (MATUs)</string>
				</array>
			</array>
			<key>IOReportGroupName</key>
			<string>Interrupt Statistics (by index)</string>
			<key>IOReportSubGroupName</key>
			<string>HDAU 1</string>
		</dict>
	</array>
	<key>IOReportLegendPublic</key>
	<true/>
	<key>IOServiceDEXTEntitlements</key>
	<array>
		<array>
			<string>com.apple.developer.driverkit.transport.pci</string>
		</array>
	</array>
	<key>layout-id</key>
	<data>BwAAAA==</data>
	<key>model</key>
	<data>TmF2aSAxMCBIRE1JIEF1ZGlvAA==</data>
	<key>name</key>
	<data>cGNpMTAwMixhYjM4AA==</data>
	<key>pci-aspm-default</key>
	<integer>0</integer>
	<key>pcidebug</key>
	<string>3:0:1</string>
	<key>reg</key>
	<data>AAEDAAAAAAAAAAAAAAAAAAAAAAAQAQMCAAAAAAAAAAAAAAAAAEAAAA==</data>
	<key>revision-id</key>
	<data>AAAAAA==</data>
	<key>subsystem-id</key>
	<data>IjgAAA==</data>
	<key>subsystem-vendor-id</key>
	<data>YhQAAA==</data>
	<key>vendor-id</key>
	<data>AhAAAA==</data>
</dict>
</plist>
