<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>acpi-device</key>
	<string>IOACPIPlatformDevice is not serializable</string>
	<key>acpi-path</key>
	<string>IOACPIPlane:/_SB/PCI0@0/RP03@1c0000/PXSX@0</string>
	<key>acpi-pmcap-offset</key>
	<integer>64</integer>
	<key>acpi-wake-type</key>
	<integer>2</integer>
	<key>assigned-addresses</key>
	<data>EAAGgQAAAAAAMAAAAAAAAAABAAAYAAaCAAAAAAAAcKIAAAAAAAABACAABoIAAAAAAABxogAAAAAAQAAA</data>
	<key>built-in</key>
	<data>AA==</data>
	<key>class-code</key>
	<data>AAACAA==</data>
	<key>compatible</key>
	<data>cGNpMTQ2Miw3YzgxAHBjaTEwZWMsODEyNQBwY2ljbGFzcywwMjAwMDAAUFhTWAA=</data>
	<key>device-id</key>
	<data>JYEAAA==</data>
	<key>driver-child-bundle</key>
	<string>com.insanelymac.LucyRTL8125Ethernet</string>
	<key>IOChildIndex</key>
	<integer>1</integer>
	<key>IODeviceMemory</key>
	<array>
		<string>IOSubMemoryDescriptor is not serializable</string>
		<array>
			<dict>
				<key>address</key>
				<integer>2725249024</integer>
				<key>length</key>
				<integer>65536</integer>
			</dict>
		</array>
		<array>
			<dict>
				<key>address</key>
				<integer>2725314560</integer>
				<key>length</key>
				<integer>16384</integer>
			</dict>
		</array>
	</array>
	<key>IOInterruptControllers</key>
	<array>
		<string>io-apic-0</string>
		<string>IOPCIMessagedInterruptController</string>
		<string>IOPCIMessagedInterruptController</string>
		<string>IOPCIMessagedInterruptController</string>
		<string>IOPCIMessagedInterruptController</string>
		<string>IOPCIMessagedInterruptController</string>
		<string>IOPCIMessagedInterruptController</string>
		<string>IOPCIMessagedInterruptController</string>
		<string>IOPCIMessagedInterruptController</string>
	</array>
	<key>IOInterruptSpecifiers</key>
	<array>
		<data>EgAAAAcAAAA=</data>
		<data>GAAAAAAAAQA=</data>
		<data>GQAAAAAAAQA=</data>
		<data>GgAAAAAAAQA=</data>
		<data>GwAAAAAAAQA=</data>
		<data>HAAAAAAAAQA=</data>
		<data>HQAAAAAAAQA=</data>
		<data>HgAAAAAAAQA=</data>
		<data>HwAAAAAAAQA=</data>
	</array>
	<key>IOName</key>
	<string>ethernet</string>
	<key>IOPCIExpressCapabilities</key>
	<integer>514</integer>
	<key>IOPCIExpressLinkCapabilities</key>
	<integer>4684818</integer>
	<key>IOPCIExpressLinkStatus</key>
	<integer>4114</integer>
	<key>IOPCIMSIMode</key>
	<true/>
	<key>IOPCIResourced</key>
	<true/>
	<key>IOPowerManagement</key>
	<dict>
		<key>CapabilityFlags</key>
		<integer>258</integer>
		<key>ChildProxyPowerState</key>
		<integer>2</integer>
		<key>ChildrenPowerState</key>
		<integer>2</integer>
		<key>CurrentPowerState</key>
		<integer>2</integer>
		<key>MaxPowerState</key>
		<integer>3</integer>
	</dict>
	<key>IOReportLegend</key>
	<array>
		<dict>
			<key>IOReportChannelInfo</key>
			<dict>
				<key>IOReportChannelUnit</key>
				<integer>0</integer>
			</dict>
			<key>IOReportChannels</key>
			<array>
				<array>
					<integer>5291294645182070784</integer>
					<integer>4295098369</integer>
					<string>               First Level Interrupt Handler Count</string>
				</array>
				<array>
					<integer>5291294645182070785</integer>
					<integer>4295098369</integer>
					<string>              Second Level Interrupt Handler Count</string>
				</array>
				<array>
					<integer>5291294645182070786</integer>
					<integer>4295098369</integer>
					<string>        First Level Interrupt Handler Time (MATUs)</string>
				</array>
				<array>
					<integer>5291294645182070787</integer>
					<integer>4295098369</integer>
					<string>   Second Level Interrupt Handler CPU Time (MATUs)</string>
				</array>
				<array>
					<integer>5291294645182070788</integer>
					<integer>4295098369</integer>
					<string>Second Level Interrupt Handler System Time (MATUs)</string>
				</array>
			</array>
			<key>IOReportGroupName</key>
			<string>Interrupt Statistics (by index)</string>
			<key>IOReportSubGroupName</key>
			<string>PXSX 1</string>
		</dict>
	</array>
	<key>IOReportLegendPublic</key>
	<true/>
	<key>IOServiceDEXTEntitlements</key>
	<array>
		<array>
			<string>com.apple.developer.driverkit.transport.pci</string>
		</array>
	</array>
	<key>name</key>
	<data>ZXRoZXJuZXQA</data>
	<key>pci-aspm-default</key>
	<integer>256</integer>
	<key>pcidebug</key>
	<string>6:0:0</string>
	<key>reg</key>
	<data>AAAGAAAAAAAAAAAAAAAAAAAAAAAQAAYBAAAAAAAAAAAAAAAAAAEAABgABgIAAAAAAAAAAAAAAAAAAAEAIAAGAgAAAAAAAAAAAAAAAABAAAA=</data>
	<key>revision-id</key>
	<data>BAAAAA==</data>
	<key>subsystem-id</key>
	<data>gXwAAA==</data>
	<key>subsystem-vendor-id</key>
	<data>YhQAAA==</data>
	<key>vendor-id</key>
	<data>7BAAAA==</data>
</dict>
</plist>
