<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AAPL,slot-name</key>
	<data>U2xvdC0gMgA=</data>
	<key>acpi-device</key>
	<string>IOACPIPlatformDevice is not serializable</string>
	<key>acpi-path</key>
	<string>IOACPIPlane:/_SB/PCI0@0/RP05@1c0004/PXSX@0</string>
	<key>acpi-pmcap-offset</key>
	<integer>128</integer>
	<key>acpi-wake-type</key>
	<data>AQ==</data>
	<key>assigned-addresses</key>
	<data>EAAHggAAAAAAAGCiAAAAAAAQAAA=</data>
	<key>built-in</key>
	<data>AA==</data>
	<key>class-code</key>
	<data>MAMMAA==</data>
	<key>compatible</key>
	<data>cGNpMTEwNiwzNDgzAHBjaWNsYXNzLDBjMDMzMABQWFNYAA==</data>
	<key>device-id</key>
	<data>gzQAAA==</data>
	<key>driver-child-bundle</key>
	<string>com.apple.driver.usb.AppleUSBXHCIPCI</string>
	<key>IOChildIndex</key>
	<integer>1</integer>
	<key>IODeviceMemory</key>
	<array>
		<array>
			<dict>
				<key>address</key>
				<integer>2724200448</integer>
				<key>length</key>
				<integer>4096</integer>
			</dict>
		</array>
	</array>
	<key>IOInterruptControllers</key>
	<array>
		<string>io-apic-0</string>
		<string>IOPCIMessagedInterruptController</string>
	</array>
	<key>IOInterruptSpecifiers</key>
	<array>
		<data>EAAAAAcAAAA=</data>
		<data>BAAAAAAAAQA=</data>
	</array>
	<key>IOName</key>
	<string>pci1106,3483</string>
	<key>IOPCIExpressCapabilities</key>
	<integer>2</integer>
	<key>IOPCIExpressLinkCapabilities</key>
	<integer>416786</integer>
	<key>IOPCIExpressLinkStatus</key>
	<integer>4114</integer>
	<key>IOPCIMSIMode</key>
	<true/>
	<key>IOPCIResourced</key>
	<true/>
	<key>IOPCIUseDeviceMapper</key>
	<true/>
	<key>IOPowerManagement</key>
	<dict>
		<key>CapabilityFlags</key>
		<integer>258</integer>
		<key>ChildProxyPowerState</key>
		<integer>2</integer>
		<key>ChildrenPowerState</key>
		<integer>2</integer>
		<key>CurrentPowerState</key>
		<integer>2</integer>
		<key>MaxPowerState</key>
		<integer>3</integer>
	</dict>
	<key>IOReportLegend</key>
	<array>
		<dict>
			<key>IOReportChannelInfo</key>
			<dict>
				<key>IOReportChannelUnit</key>
				<integer>0</integer>
			</dict>
			<key>IOReportChannels</key>
			<array>
				<array>
					<integer>5291294645182070784</integer>
					<integer>4295098369</integer>
					<string>               First Level Interrupt Handler Count</string>
				</array>
				<array>
					<integer>5291294645182070785</integer>
					<integer>4295098369</integer>
					<string>              Second Level Interrupt Handler Count</string>
				</array>
				<array>
					<integer>5291294645182070786</integer>
					<integer>4295098369</integer>
					<string>        First Level Interrupt Handler Time (MATUs)</string>
				</array>
				<array>
					<integer>5291294645182070787</integer>
					<integer>4295098369</integer>
					<string>   Second Level Interrupt Handler CPU Time (MATUs)</string>
				</array>
				<array>
					<integer>5291294645182070788</integer>
					<integer>4295098369</integer>
					<string>Second Level Interrupt Handler System Time (MATUs)</string>
				</array>
			</array>
			<key>IOReportGroupName</key>
			<string>Interrupt Statistics (by index)</string>
			<key>IOReportSubGroupName</key>
			<string>PXSX 1</string>
		</dict>
	</array>
	<key>IOReportLegendPublic</key>
	<true/>
	<key>IOServiceDEXTEntitlements</key>
	<array>
		<array>
			<string>com.apple.developer.driverkit.transport.pci</string>
		</array>
	</array>
	<key>model</key>
	<data>Vkw4MDUvODA2IFVTQiAzLjAgQ29udHJvbGxlcgA=</data>
	<key>name</key>
	<data>cGNpMTEwNiwzNDgzAA==</data>
	<key>pci-aspm-default</key>
	<integer>256</integer>
	<key>pcidebug</key>
	<string>7:0:0</string>
	<key>reg</key>
	<data>AAAHAAAAAAAAAAAAAAAAAAAAAAAQAAcCAAAAAAAAAAAAAAAAABAAAA==</data>
	<key>revision-id</key>
	<data>AQAAAA==</data>
	<key>subsystem-id</key>
	<data>gzQAAA==</data>
	<key>subsystem-vendor-id</key>
	<data>BhEAAA==</data>
	<key>vendor-id</key>
	<data>BhEAAA==</data>
</dict>
</plist>
