<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AAPL,slot-name</key>
	<data>U2xvdC0gMwA=</data>
	<key>acpi-device</key>
	<string>IOACPIPlatformDevice is not serializable</string>
	<key>acpi-path</key>
	<string>IOACPIPlane:/_SB/PCI0@0/RP07@1c0006/PXSX@0</string>
	<key>acpi-pmcap-offset</key>
	<integer>72</integer>
	<key>acpi-wake-type</key>
	<integer>2</integer>
	<key>assigned-addresses</key>
	<data>EAAIggAAAAAAACCiAAAAAACAAAAYAAiCAAAAAAAAAKIAAAAAAAAgAA==</data>
	<key>built-in</key>
	<data>AA==</data>
	<key>class-code</key>
	<data>AIACAA==</data>
	<key>compatible</key>
	<data>cGNpMTA2YiwxMTEAcGNpMTRlNCw0M2EwAHBjaWNsYXNzLDAyODAwMABQWFNYAA==</data>
	<key>device-id</key>
	<data>oEMAAA==</data>
	<key>IOChildIndex</key>
	<integer>1</integer>
	<key>IODeviceMemory</key>
	<array>
		<array>
			<dict>
				<key>address</key>
				<integer>2720006144</integer>
				<key>length</key>
				<integer>32768</integer>
			</dict>
		</array>
		<array>
			<dict>
				<key>address</key>
				<integer>2717908992</integer>
				<key>length</key>
				<integer>2097152</integer>
			</dict>
		</array>
	</array>
	<key>IOInterruptControllers</key>
	<array>
		<string>io-apic-0</string>
		<string>IOPCIMessagedInterruptController</string>
	</array>
	<key>IOInterruptSpecifiers</key>
	<array>
		<data>EgAAAAcAAAA=</data>
		<data>BgAAAAAAAQA=</data>
	</array>
	<key>IOName</key>
	<string>pci14e4,43a0</string>
	<key>IOPCIExpressCapabilities</key>
	<integer>2</integer>
	<key>IOPCIExpressLinkCapabilities</key>
	<integer>4643857</integer>
	<key>IOPCIExpressLinkStatus</key>
	<integer>4113</integer>
	<key>IOPCIMSIMode</key>
	<true/>
	<key>IOPCIResourced</key>
	<true/>
	<key>IOPowerManagement</key>
	<dict>
		<key>CapabilityFlags</key>
		<integer>258</integer>
		<key>ChildProxyPowerState</key>
		<integer>2</integer>
		<key>ChildrenPowerState</key>
		<integer>2</integer>
		<key>CurrentPowerState</key>
		<integer>2</integer>
		<key>MaxPowerState</key>
		<integer>3</integer>
	</dict>
	<key>IOReportLegend</key>
	<array>
		<dict>
			<key>IOReportChannelInfo</key>
			<dict>
				<key>IOReportChannelUnit</key>
				<integer>0</integer>
			</dict>
			<key>IOReportChannels</key>
			<array>
				<array>
					<integer>5291294645182070784</integer>
					<integer>4295098369</integer>
					<string>               First Level Interrupt Handler Count</string>
				</array>
				<array>
					<integer>5291294645182070785</integer>
					<integer>4295098369</integer>
					<string>              Second Level Interrupt Handler Count</string>
				</array>
				<array>
					<integer>5291294645182070786</integer>
					<integer>4295098369</integer>
					<string>        First Level Interrupt Handler Time (MATUs)</string>
				</array>
				<array>
					<integer>5291294645182070787</integer>
					<integer>4295098369</integer>
					<string>   Second Level Interrupt Handler CPU Time (MATUs)</string>
				</array>
				<array>
					<integer>5291294645182070788</integer>
					<integer>4295098369</integer>
					<string>Second Level Interrupt Handler System Time (MATUs)</string>
				</array>
			</array>
			<key>IOReportGroupName</key>
			<string>Interrupt Statistics (by index)</string>
			<key>IOReportSubGroupName</key>
			<string>PXSX 1</string>
		</dict>
	</array>
	<key>IOReportLegendPublic</key>
	<true/>
	<key>IOServiceDEXTEntitlements</key>
	<array>
		<array>
			<string>com.apple.developer.driverkit.transport.pci</string>
		</array>
	</array>
	<key>model</key>
	<data>QkNNNDM2MCA4MDIuMTFhYyBXaXJlbGVzcyBOZXR3b3JrIEFkYXB0ZXIA</data>
	<key>name</key>
	<data>cGNpMTRlNCw0M2EwAA==</data>
	<key>pci-aspm-default</key>
	<integer>256</integer>
	<key>pcidebug</key>
	<string>8:0:0</string>
	<key>reg</key>
	<data>AAAIAAAAAAAAAAAAAAAAAAAAAAAQAAgCAAAAAAAAAAAAAAAAAIAAABgACAIAAAAAAAAAAAAAAAAAACAA</data>
	<key>revision-id</key>
	<data>AwAAAA==</data>
	<key>subsystem-id</key>
	<data>EQEAAA==</data>
	<key>subsystem-vendor-id</key>
	<data>axAAAA==</data>
	<key>vendor-id</key>
	<data>5BQAAA==</data>
</dict>
</plist>
