<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>AutoMerge</key>
		<false/>
		<key>DisableASPM</key>
		<false/>
		<key>DSDT</key>
		<dict>
			<key>Debug</key>
			<false/>
			<key>Fixes</key>
			<dict>
				<key>AddDTGP</key>
				<false/>
				<key>AddHDMI</key>
				<false/>
				<key>AddIMEI</key>
				<false/>
				<key>AddMCHC</key>
				<false/>
				<key>AddPNLF</key>
				<false/>
				<key>DeleteUnused</key>
				<false/>
				<key>FakeLPC</key>
				<false/>
				<key>FixACST</key>
				<false/>
				<key>FixADP1</key>
				<false/>
				<key>FixAirport</key>
				<false/>
				<key>FixDarwin</key>
				<false/>
				<key>FixDarwin7</key>
				<false/>
				<key>FixDisplay</key>
				<false/>
				<key>FixFirewire</key>
				<false/>
				<key>FixHDA</key>
				<false/>
				<key>FixHPET</key>
				<false/>
				<key>FixIDE</key>
				<false/>
				<key>FixIntelGfx</key>
				<false/>
				<key>FixIPIC</key>
				<false/>
				<key>FixLAN</key>
				<false/>
				<key>FixMutex</key>
				<false/>
				<key>FixRegions</key>
				<false/>
				<key>FixRTC</key>
				<false/>
				<key>FixS3D</key>
				<false/>
				<key>FixSATA</key>
				<false/>
				<key>FixSBUS</key>
				<false/>
				<key>FixShutdown</key>
				<false/>
				<key>FixTMR</key>
				<false/>
				<key>FixUSB</key>
				<false/>
				<key>FixWAK</key>
				<false/>
			</dict>
			<key>Name</key>
			<string>BIOS.aml</string>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>HPET _CRS to XCRS Rename</string>
					<key>Count</key>
					<integer>0</integer>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>JV9DUlM=</data>
					<key>Replace</key>
					<data>JVhDUlM=</data>
					<key>Skip</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Comment</key>
					<string>RTC IRQ 8 Patch</string>
					<key>Count</key>
					<integer>0</integer>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>IgABeQA=</data>
					<key>Replace</key>
					<data>IgAAeQA=</data>
					<key>Skip</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Comment</key>
					<string>TIMR IRQ 0 Patch</string>
					<key>Count</key>
					<integer>0</integer>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>IgEAeQA=</data>
					<key>Replace</key>
					<data>IgAAeQA=</data>
					<key>Skip</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>ReuseFFFF</key>
			<false/>
			<key>Rtc8Allowed</key>
			<false/>
		</dict>
		<key>FixHeaders</key>
		<false/>
		<key>FixMCFG</key>
		<false/>
		<key>HaltEnabler</key>
		<false/>
		<key>PatchAPIC</key>
		<false/>
		<key>smartUPS</key>
		<false/>
		<key>SSDT</key>
		<dict>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
			</dict>
			<key>NoDynamicExtract</key>
			<false/>
			<key>NoOemTableId</key>
			<false/>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string></string>
		<key>CustomLogo</key>
		<false/>
		<key>Debug</key>
		<false/>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>DisableCloverHotkeys</key>
		<false/>
		<key>Legacy</key>
		<string>PBR</string>
		<key>NeverDoRecovery</key>
		<true/>
		<key>NeverHibernate</key>
		<false/>
		<key>NoEarlyProgress</key>
		<true/>
		<key>RtcHibernateAware</key>
		<false/>
		<key>SignatureFixup</key>
		<false/>
		<key>SkipHibernateTimeout</key>
		<false/>
		<key>StrictHibernate</key>
		<false/>
		<key>Timeout</key>
		<integer>5</integer>
		<key>XMPDetection</key>
		<integer>0</integer>
	</dict>
	<key>BootGraphics</key>
	<dict>
		<key>EFILoginHiDPI</key>
		<integer>1</integer>
		<key>UIScale</key>
		<integer>1</integer>
	</dict>
	<key>CPU</key>
	<dict>
		<key>UseARTFrequency</key>
		<false/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<string>Detect</string>
		</dict>
		<key>LANInjection</key>
		<false/>
		<key>NoDefaultProperties</key>
		<false/>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x1,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>@0,name</key>
				<data>QVRZLFB5dGhvbg==</data>
				<key>@1,name</key>
				<data>QVRZLFB5dGhvbg==</data>
				<key>@2,name</key>
				<data>QVRZLFB5dGhvbg==</data>
				<key>@3,name</key>
				<data>QVRZLFB5dGhvbg==</data>
				<key>AAPL,slot-name</key>
				<data>U2xvdC0gMQ==</data>
				<key>ATY,EFIVersion</key>
				<data>MzEuMC4xMjAuMjYuMw==</data>
				<key>device_type</key>
				<data>QVRZLFB5dGhvblBhcmVudA==</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)/Pci(0x0,0x1)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<data>U2xvdC0gMQ==</data>
				<key>model</key>
				<data>TmF2aSAxMCBIRE1JIEF1ZGlv</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x14,0x0)</key>
			<dict>
				<key>acpi-wake-type</key>
				<data>AQ==</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1B,0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>acpi-wake-type</key>
				<data>AQ==</data>
				<key>model</key>
				<data>QVNNZWRpYSBUZWNobm9sb2d5IEFTTTMyNDEgVVNCIDMuMCBYSENJIENvbnRyb2xsZXI=</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x4)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<data>U2xvdC0gMw==</data>
				<key>acpi-wake-type</key>
				<data>AQ==</data>
				<key>model</key>
				<data>Vkw4MDUvODA2IHhIQ0kgVVNCIDMuMCBDb250cm9sbGVy</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x6)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<data>U2xvdC0gMg==</data>
				<key>model</key>
				<data>QkNNNDM2MCA4MDIuMTFhYyBXaXJlbGVzcyBOZXR3b3JrIEFkYXB0ZXI=</data>
				<key>name</key>
				<data>YWlycG9ydA==</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1F,0x3)</key>
			<dict>
				<key>layout-id</key>
				<data>AQAAAA==</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,ig-platform-id</key>
				<data>AwCSPg==</data>
				<key>AAPL,slot-name</key>
				<data>U2xvdC0gMA==</data>
				<key>agdpmod</key>
				<data>cGlrZXJhAA==</data>
				<key>device-id</key>
				<data>mz4AAA==</data>
				<key>enable-metal</key>
				<data>AQAAAA==</data>
				<key>igfxfw</key>
				<data>AgAAAA==</data>
				<key>igfxonln</key>
				<data>AQAAAA==</data>
			</dict>
		</dict>
		<key>USB</key>
		<dict>
			<key>FixOwnership</key>
			<false/>
			<key>HighCurrent</key>
			<true/>
			<key>Inject</key>
			<false/>
		</dict>
		<key>UseIntelHDMI</key>
		<false/>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<false/>
		</dict>
		<key>LoadVBios</key>
		<false/>
		<key>RadeonDeInit</key>
		<false/>
	</dict>
	<key>GUI</key>
	<dict>
		<key>ConsoleMode</key>
		<string>0</string>
		<key>EmbeddedThemeType</key>
		<string>Dark</string>
		<key>Hide</key>
		<array>
			<string>Storage</string>
		</array>
		<key>KbdPrevLang</key>
		<true/>
		<key>Language</key>
		<string>en-US:0</string>
		<key>PlayAsync</key>
		<false/>
		<key>ProvideConsoleGop</key>
		<true/>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Tool</key>
			<false/>
		</dict>
		<key>ScreenResolution</key>
		<string>3840×2160</string>
		<key>TextOnly</key>
		<false/>
		<key>Theme</key>
		<string>Blackcamp</string>
		<key>Timezone</key>
		<integer>8</integer>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<false/>
		<key>Debug</key>
		<false/>
		<key>DellSMBIOSPatch</key>
		<true/>
		<key>KernelLapic</key>
		<false/>
		<key>KernelPm</key>
		<true/>
		<key>KernelXCPM</key>
		<false/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Enable TRIM for SSD</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>AEFQUExFIFNTRAA=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.iokit.IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>AAAAAAAAAAAAAAA=</data>
			</dict>
		</array>
		<key>PanicNoKextDump</key>
		<true/>
	</dict>
	<key>Quirks</key>
	<dict>
		<key>AppleXcpmExtraMsrs</key>
		<false/>
		<key>AppleXcpmForceBoost</key>
		<false/>
		<key>AvoidRuntimeDefrag</key>
		<true/>
		<key>DevirtualiseMmio</key>
		<true/>
		<key>DisableIoMapper</key>
		<false/>
		<key>DisableLinkeditJettison</key>
		<true/>
		<key>DisableSingleUser</key>
		<false/>
		<key>DisableVariableWrite</key>
		<false/>
		<key>DiscardHibernateMap</key>
		<false/>
		<key>DummyPowerManagement</key>
		<false/>
		<key>EnableSafeModeSlide</key>
		<true/>
		<key>EnableWriteUnprotector</key>
		<false/>
		<key>ExternalDiskIcons</key>
		<false/>
		<key>ForceExitBootServices</key>
		<false/>
		<key>ForceOcWriteFlash</key>
		<false/>
		<key>FuzzyMatch</key>
		<true/>
		<key>IncreasePciBarSize</key>
		<false/>
		<key>KernelCache</key>
		<string>Auto</string>
		<key>PowerTimeoutKernelPanic</key>
		<true/>
		<key>ProtectMemoryRegions</key>
		<false/>
		<key>ProtectSecureBoot</key>
		<false/>
		<key>ProtectUefiServices</key>
		<true/>
		<key>ProvideCurrentCpuInfo</key>
		<false/>
		<key>ProvideCustomSlide</key>
		<true/>
		<key>ProvideMaxSlide</key>
		<integer>0</integer>
		<key>RebuildAppleMemoryMap</key>
		<true/>
		<key>ResizeAppleGpuBars</key>
		<integer>-1</integer>
		<key>SetupVirtualMap</key>
		<false/>
		<key>SignalAppleOS</key>
		<false/>
		<key>SyncRuntimePermissions</key>
		<true/>
		<key>ThirdPartyDrives</key>
		<false/>
		<key>TscSyncTimeout</key>
		<integer>0</integer>
		<key>XhciPortLimit</key>
		<false/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x0</string>
		<key>MLB</key>
            <string>C02110100GUPHC11H</string>
		<key>ROM</key>
            <string>2C200BE5E477</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>08/29/2022</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>IM201.88Z.F000.B00.2208290036</string>
		<key>Board-ID</key>
		<string>Mac-CFF7D910A743CAAF</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02209310GUXXXXXX</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>BoardVersion</key>
		<string>iMac20,1</string>
		<key>ChassisAssetTag</key>
		<string>Asset Tag#</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0xD</string>
		<key>EfiVersion</key>
		<string>1916.40.2.0.0</string>
		<key>ExtendedFirmwareFeatures</key>
		<string>0x00000008FFB3F066</string>
		<key>ExtendedFirmwareFeaturesMask</key>
		<string>0x00000008FFFFFFFF</string>
		<key>Family</key>
		<string>iMac</string>
		<key>FirmwareFeatures</key>
		<string>0xFFB3F066</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFFFFFFFF</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>PlatformFeature</key>
		<string>0x20</string>
		<key>ProductName</key>
            <string>iMac20,1</string>
		<key>SerialNumber</key>
            <string>C02FD0TRPN5T</string>
		<key>SmUUID</key>
            <string>13E8B62C-4D0F-4BCC-9490-02BD2B107F80</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>CustomUUID</key>
		<string>5CA938CD-5F80-53CC-B1AB-55046EXXXXXX</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>
