<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigitalAudioCapabilities</key>
	<dict>
		<key>DisplayPort</key>
		<integer>1</integer>
		<key>HDMI</key>
		<integer>1</integer>
	</dict>
	<key>IODeviceMemory</key>
	<array>
		<array>
			<dict>
				<key>address</key>
				<integer>547878993920</integer>
				<key>length</key>
				<integer>16384</integer>
			</dict>
		</array>
		<array>
			<dict>
				<key>address</key>
				<integer>547878862848</integer>
				<key>length</key>
				<integer>65536</integer>
			</dict>
		</array>
	</array>
	<key>IOInterruptControllers</key>
	<array>
		<string>io-apic-0</string>
		<string>IOPCIMessagedInterruptController</string>
	</array>
	<key>IOInterruptSpecifiers</key>
	<array>
		<data>
		EAAAAAcAAAA=
		</data>
		<data>
		DQAAAAAAAQA=
		</data>
	</array>
	<key>IOName</key>
	<string>pci8086,a3f0</string>
	<key>IOPCIMSIMode</key>
	<true/>
	<key>IOPCIResourced</key>
	<true/>
	<key>IOPCIUseDeviceMapper</key>
	<true/>
	<key>IOPowerManagement</key>
	<dict>
		<key>CapabilityFlags</key>
		<integer>258</integer>
		<key>ChildProxyPowerState</key>
		<integer>2</integer>
		<key>ChildrenPowerState</key>
		<integer>2</integer>
		<key>CurrentPowerState</key>
		<integer>2</integer>
		<key>MaxPowerState</key>
		<integer>3</integer>
	</dict>
	<key>IOReportLegend</key>
	<array>
		<dict>
			<key>IOReportChannelInfo</key>
			<dict>
				<key>IOReportChannelUnit</key>
				<integer>0</integer>
			</dict>
			<key>IOReportChannels</key>
			<array>
				<array>
					<integer>5291294645182070784</integer>
					<integer>4295098369</integer>
					<string>               First Level Interrupt Handler Count</string>
				</array>
				<array>
					<integer>5291294645182070785</integer>
					<integer>4295098369</integer>
					<string>              Second Level Interrupt Handler Count</string>
				</array>
				<array>
					<integer>5291294645182070786</integer>
					<integer>4295098369</integer>
					<string>        First Level Interrupt Handler Time (MATUs)</string>
				</array>
				<array>
					<integer>5291294645182070787</integer>
					<integer>4295098369</integer>
					<string>   Second Level Interrupt Handler CPU Time (MATUs)</string>
				</array>
				<array>
					<integer>5291294645182070788</integer>
					<integer>4295098369</integer>
					<string>Second Level Interrupt Handler System Time (MATUs)</string>
				</array>
			</array>
			<key>IOReportGroupName</key>
			<string>Interrupt Statistics (by index)</string>
			<key>IOReportSubGroupName</key>
			<string>HDEF 1</string>
		</dict>
	</array>
	<key>IOReportLegendPublic</key>
	<true/>
	<key>IOServiceDEXTEntitlements</key>
	<array>
		<array>
			<string>com.apple.developer.driverkit.transport.pci</string>
		</array>
	</array>
	<key>MaximumBootBeepVolume</key>
	<data>
	fw==
	</data>
	<key>MaximumBootBeepVolumeAlt</key>
	<data>
	fw==
	</data>
	<key>PinConfigurations</key>
	<data>
	EEARkCAQAQEwYAEBQJCgkGCQgQJQMIEBcEAhApBhSwE=
	</data>
	<key>acpi-device</key>
	<string>IOACPIPlatformDevice is not serializable</string>
	<key>acpi-path</key>
	<string>IOACPIPlane:/_SB/PCI0@0/HDAS@1f0003</string>
	<key>acpi-pmcap-offset</key>
	<integer>80</integer>
	<key>alc-layout-id</key>
	<data>
	AQAAAA==
	</data>
	<key>assigned-addresses</key>
	<data>
	EPsAgn8AAAAAACKQAAAAAABAAAAg+wCCfwAAAAAAIJAAAAAAAAABAA==
	</data>
	<key>built-in</key>
	<data>
	AA==
	</data>
	<key>class-code</key>
	<data>
	AAMEAA==
	</data>
	<key>compatible</key>
	<data>
	cGNpMTQ2MixlYzgxAHBjaTgwODYsYTNmMABwY2ljbGFzcywwNDAzMDAASERBUwBIREVG
	AA==
	</data>
	<key>device-id</key>
	<data>
	8KMAAA==
	</data>
	<key>driver-child-bundle</key>
	<string>com.apple.driver.AppleHDAController</string>
	<key>iommu-parent</key>
	<string>AppleVTDDeviceMapper is not serializable</string>
	<key>iommu-selection</key>
	<data>
	EQAAAA==
	</data>
	<key>layout-id</key>
	<data>
	BwAAAA==
	</data>
	<key>name</key>
	<data>
	cGNpODA4NixhM2YwAA==
	</data>
	<key>pcidebug</key>
	<string>0:31:3</string>
	<key>reg</key>
	<data>
	APsAAAAAAAAAAAAAAAAAAAAAAAAQ+wACAAAAAAAAAAAAAAAAAEAAACD7AAIAAAAAAAAA
	AAAAAAAAAAEA
	</data>
	<key>revision-id</key>
	<data>
	AAAAAA==
	</data>
	<key>subsystem-id</key>
	<data>
	gewAAA==
	</data>
	<key>subsystem-vendor-id</key>
	<data>
	YhQAAA==
	</data>
	<key>vendor-id</key>
	<data>
	hoAAAA==
	</data>
</dict>
</plist>
