<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeviceProperties</key>
	<dict>
		<key>Add</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x1,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>@0,name</key>
				<data>QVRZLFB5dGhvbg==</data>
				<key>@1,name</key>
				<data>QVRZLFB5dGhvbg==</data>
				<key>@2,name</key>
				<data>QVRZLFB5dGhvbg==</data>
				<key>@3,name</key>
				<data>QVRZLFB5dGhvbg==</data>
				<key>AAPL,slot-name</key>
				<data>U2xvdC0gMQ==</data>
				<key>ATY,EFIVersion</key>
				<data>MzEuMC4xMjAuMjYuMw==</data>
				<key>device_type</key>
				<data>QVRZLFB5dGhvblBhcmVudA==</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)/Pci(0x0,0x1)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<data>U2xvdC0gMQ==</data>
				<key>model</key>
				<data>TmF2aSAxMCBIRE1JIEF1ZGlv</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x14,0x0)</key>
			<dict>
				<key>acpi-wake-type</key>
				<data>AQ==</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1B,0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>acpi-wake-type</key>
				<data>AQ==</data>
				<key>model</key>
				<data>QVNNZWRpYSBUZWNobm9sb2d5IEFTTTMyNDEgVVNCIDMuMCBYSENJIENvbnRyb2xsZXI=</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x4)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<data>U2xvdC0gMw==</data>
				<key>acpi-wake-type</key>
				<data>AQ==</data>
				<key>model</key>
				<data>Vkw4MDUvODA2IHhIQ0kgVVNCIDMuMCBDb250cm9sbGVy</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x6)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<data>U2xvdC0gMg==</data>
				<key>model</key>
				<data>QkNNNDM2MCA4MDIuMTFhYyBXaXJlbGVzcyBOZXR3b3JrIEFkYXB0ZXI=</data>
				<key>name</key>
				<data>YWlycG9ydA==</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1F,0x3)</key>
			<dict>
				<key>layout-id</key>
				<data>AQAAAA==</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,ig-platform-id</key>
				<data>AwCSPg==</data>
				<key>AAPL,slot-name</key>
				<data>U2xvdC0gMA==</data>
				<key>agdpmod</key>
				<data>cGlrZXJhAA==</data>
				<key>device-id</key>
				<data>mz4AAA==</data>
				<key>enable-metal</key>
				<data>AQAAAA==</data>
				<key>igfxfw</key>
				<data>AgAAAA==</data>
				<key>igfxonln</key>
				<data>AQAAAA==</data>
			</dict>
		</dict>
		<key>Delete</key>
		<dict/>
	</dict>
</dict>
</plist>
