<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeviceProperties</key>
	<dict>
		<key>Add</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x1,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>@0,device_type</key>
				<string>display</string>
				<key>@0,name</key>
				<string>ATY,Python</string>
				<key>@1,device_type</key>
				<string>display</string>
				<key>@1,name</key>
				<string>ATY,Python</string>
				<key>@2,device_type</key>
				<string>display</string>
				<key>@2,name</key>
				<string>ATY,Python</string>
				<key>@3,device_type</key>
				<string>display</string>
				<key>@3,name</key>
				<string>ATY,Python</string>
				<key>AAPL,slot-name</key>
				<string>Slot- 1</string>
				<key>AAPL00,DualLink</key>
				<data>AQAAAA==</data>
				<key>ATY,Card#</key>
				<string>113-MSITV382MH.161</string>
				<key>ATY,Copyright</key>
				<string>Copyright AMD Inc. All Rights Reserved. 2005-2019</string>
				<key>ATY,EFIBootMode</key>
				<data>AAABAAIAAAAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAEAAAAAAAEAAAADAAAAUM/NHAAAAAAACgAAQAsAAKAAAAAAAAAAAAAAAFIAAAAAAAAAAAAAADAAAAAgAAAAAQMAAAAKAAAAAAAAAAEAAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAoAAAAAAAABAAEAAAAAAAEAAAADAAAAUM/NHAAAAAAACgAAQAsAAKAAAAAAAAAAAAAAAFIAAAAAAAAAAAAAADAAAAAgAAAAAQMAAAAKAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAEAAAAAAAEAAAADAAAAEI/sNwAAAAAAFAAAQAsAAKAAAAAAAAAAAAAAAFIAAAAAAAAAAAAAADAAAAAgAAAAAQMAAAAFAAAAAAA=</data>
				<key>ATY,EFIEnabledMode</key>
				<data>AQ==</data>
				<key>ATY,EFIVersion</key>
				<string>01.01.183</string>
				<key>ATY,EFIVersionB</key>
				<string>113-14211ME-U13</string>
				<key>ATY,Rom#</key>
				<string>113-EXT37635-001</string>
				<key>device_type</key>
				<string>ATY,PythonParent</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)/Pci(0x0,0x1)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Slot- 1</string>
				<key>model</key>
				<string>AMD Radeon High Definition Audio Device</string>
				<key>name</key>
				<string>HDAU</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x14,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>onboard</string>
				<key>acpi-wake-type</key>
				<data>AQ==</data>
				<key>model</key>
				<string>Intel Comet Lake PCH-V USB Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1B,0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>onboard</string>
				<key>acpi-wake-type</key>
				<data>AQ==</data>
				<key>model</key>
				<string>ASM3241 USB 3.2 USB Controller</string>
				<key>name</key>
				<string>PXSX</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x6)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Slot- 2</string>
				<key>model</key>
				<string>BCM4360 802.11ac Wireless Network Adapter</string>
				<key>name</key>
				<string>airport</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1F,0x3)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>onboard</string>
				<key>layout-id</key>
				<data>AQAAAA==</data>
				<key>model</key>
				<string>Intel Comet Lake PCH-V cAVS</string>
				<key>name</key>
				<string>HDEF</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>onboard</string>
				<key>agdpmod</key>
				<data>cGlrZXJhAA==</data>
				<key>enable-metal</key>
				<data>AQAAAA==</data>
				<key>igfxonln</key>
				<data>AQAAAA==</data>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
