<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeviceProperties</key>
	<dict>
		<key>Add</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x1,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>@0,name</key>
				<string>ATY,Python</string>
				<key>@1,name</key>
				<string>ATY,Python</string>
				<key>@2,name</key>
				<string>ATY,Python</string>
				<key>@3,name</key>
				<string>ATY,Python</string>
				<key>AAPL,slot-name</key>
				<string>J6B2</string>
				<key>AAPL00,override-no-connect</key>
				<data>
				AP///////wAGr+sxAAAAABAbAQSlIhN4As61plQ0tiUO
				UFQAAAABAQEBAQEBAQEBAQEBAQEBpqYAoPBwPoAwIDUA
				WMEQAAAYAAAAAAAAAAAAAAAAAAAAAAAYAAAA/gBBVU8K
				ICAgICAgICAgAAAA/gBCMTU2WkFOMDMuMSAKAL0=
				</data>
				<key>ATY,EFIVersion</key>
				<string>31.0.120.26.3</string>
				<key>device_type</key>
				<string>ATY,PythonParent</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)/Pci(0x0,0x1)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>J6B2</string>
				<key>model</key>
				<string>Navi 10 HDMI Audio</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x14,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Onboard</string>
				<key>acpi-wake-type</key>
				<data>
				AQ==
				</data>
				<key>model</key>
				<string>Comet Lake PCH-V USB Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1B,0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Onboard</string>
				<key>acpi-wake-type</key>
				<data>
				AQ==
				</data>
				<key>model</key>
				<string>ASM3241 USB 3.2 USB Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x4)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>J6D1</string>
				<key>acpi-wake-type</key>
				<data>
				AQ==
				</data>
				<key>model</key>
				<string>VL805/806 USB 3.0 Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x6)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>J8B4</string>
				<key>model</key>
				<string>BCM4360 802.11ac Wireless Network Adapter</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1F,0x3)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Onboard</string>
				<key>layout-id</key>
				<data>
				AQAAAA==
				</data>
				<key>model</key>
				<string>Comet Lake PCH-V Converged Audio Voice Speech</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,ig-platform-id</key>
				<data>
				AwCSPg==
				</data>
				<key>AAPL,slot-name</key>
				<string>Onboard</string>
				<key>agdpmod</key>
				<data>
				cGlrZXJhAA==
				</data>
				<key>device-id</key>
				<data>
				mz4AAA==
				</data>
				<key>enable-metal</key>
				<data>
				AQAAAA==
				</data>
				<key>igfxfw</key>
				<data>
				AgAAAA==
				</data>
				<key>igfxonln</key>
				<data>
				AQAAAA==
				</data>
			</dict>
		</dict>
		<key>Delete</key>
		<dict/>
	</dict>
</dict>
</plist>
