<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IOChildIndex</key>
	<integer>1</integer>
	<key>IODeviceMemory</key>
	<array>
		<array>
			<dict>
				<key>address</key>
				<integer>2146435072</integer>
				<key>length</key>
				<integer>16384</integer>
			</dict>
		</array>
	</array>
	<key>IOInterruptControllers</key>
	<array>
		<string>io-apic-0</string>
		<string>IOPCIMessagedInterruptController</string>
	</array>
	<key>IOInterruptSpecifiers</key>
	<array>
		<data>
		EAAAAAcAAAA=
		</data>
		<data>
		AgAAAAAAAQA=
		</data>
	</array>
	<key>IOName</key>
	<string>pci2646,2263</string>
	<key>IOPCIExpressCapabilities</key>
	<integer>2</integer>
	<key>IOPCIExpressLinkCapabilities</key>
	<integer>4573251</integer>
	<key>IOPCIExpressLinkStatus</key>
	<integer>4163</integer>
	<key>IOPCIMSIMode</key>
	<true/>
	<key>IOPCIResourced</key>
	<true/>
	<key>IOPowerManagement</key>
	<dict>
		<key>CapabilityFlags</key>
		<integer>258</integer>
		<key>ChildProxyPowerState</key>
		<integer>2</integer>
		<key>ChildrenPowerState</key>
		<integer>2</integer>
		<key>CurrentPowerState</key>
		<integer>2</integer>
		<key>MaxPowerState</key>
		<integer>3</integer>
	</dict>
	<key>IOReportLegend</key>
	<array>
		<dict>
			<key>IOReportChannelInfo</key>
			<dict>
				<key>IOReportChannelUnit</key>
				<integer>0</integer>
			</dict>
			<key>IOReportChannels</key>
			<array>
				<array>
					<integer>5291294645182070784</integer>
					<integer>4295098369</integer>
					<string>               First Level Interrupt Handler Count</string>
				</array>
				<array>
					<integer>5291294645182070785</integer>
					<integer>4295098369</integer>
					<string>              Second Level Interrupt Handler Count</string>
				</array>
				<array>
					<integer>5291294645182070786</integer>
					<integer>4295098369</integer>
					<string>        First Level Interrupt Handler Time (MATUs)</string>
				</array>
				<array>
					<integer>5291294645182070787</integer>
					<integer>4295098369</integer>
					<string>   Second Level Interrupt Handler CPU Time (MATUs)</string>
				</array>
				<array>
					<integer>5291294645182070788</integer>
					<integer>4295098369</integer>
					<string>Second Level Interrupt Handler System Time (MATUs)</string>
				</array>
			</array>
			<key>IOReportGroupName</key>
			<string>Interrupt Statistics (by index)</string>
			<key>IOReportSubGroupName</key>
			<string>PXSX 1</string>
		</dict>
	</array>
	<key>IOReportLegendPublic</key>
	<true/>
	<key>IOServiceDEXTEntitlements</key>
	<array>
		<array>
			<string>com.apple.developer.driverkit.transport.pci</string>
		</array>
	</array>
	<key>acpi-device</key>
	<string>IOACPIPlatformDevice is not serializable</string>
	<key>acpi-path</key>
	<string>IOACPIPlane:/_SB/PCI0@0/RP09@1d0000/PXSX@0</string>
	<key>assigned-addresses</key>
	<data>
	EAAIggAAAAAAAPB/AAAAAABAAAA=
	</data>
	<key>built-in</key>
	<data>
	AA==
	</data>
	<key>class-code</key>
	<data>
	AggBAA==
	</data>
	<key>compatible</key>
	<data>
	cGNpMjY0NiwyMjYzAHBjaWNsYXNzLDAxMDgwMgBQWFNYAA==
	</data>
	<key>device-id</key>
	<data>
	YyIAAA==
	</data>
	<key>driver-child-bundle</key>
	<string>com.apple.iokit.IONVMeFamily</string>
	<key>name</key>
	<data>
	cGNpMjY0NiwyMjYzAA==
	</data>
	<key>pci-aspm-default</key>
	<integer>256</integer>
	<key>pcidebug</key>
	<string>8:0:0</string>
	<key>reg</key>
	<data>
	AAAIAAAAAAAAAAAAAAAAAAAAAAAQAAgCAAAAAAAAAAAAAAAAAEAAAA==
	</data>
	<key>revision-id</key>
	<data>
	AwAAAA==
	</data>
	<key>subsystem-id</key>
	<data>
	YyIAAA==
	</data>
	<key>subsystem-vendor-id</key>
	<data>
	RiYAAA==
	</data>
	<key>vendor-id</key>
	<data>
	RiYAAA==
	</data>
</dict>
</plist>
