<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.usb.AppleUSBXHCIPCI</string>
	<key>CFBundleIdentifierKernel</key>
	<string>com.apple.driver.usb.AppleUSBXHCIPCI</string>
	<key>IOClass</key>
	<string>AppleUSBXHCISPT</string>
	<key>IOGeneralInterest</key>
	<string>IOCommand is not serializable</string>
	<key>IOMatchCategory</key>
	<string>IODefaultMatchCategory</string>
	<key>IOMatchedAtBoot</key>
	<true/>
	<key>IOPCIPauseCompatible</key>
	<true/>
	<key>IOPCIPrimaryMatch</key>
	<string>0xa3af8086</string>
	<key>IOPCITunnelCompatible</key>
	<true/>
	<key>IOPersonalityPublisher</key>
	<string>com.younix.usbmap</string>
	<key>IOPowerManagement</key>
	<dict>
		<key>CapabilityFlags</key>
		<integer>32768</integer>
		<key>ChildrenPowerState</key>
		<integer>3</integer>
		<key>CurrentPowerState</key>
		<integer>3</integer>
		<key>DevicePowerState</key>
		<integer>0</integer>
		<key>DriverPowerState</key>
		<integer>0</integer>
		<key>MaxPowerState</key>
		<integer>3</integer>
	</dict>
	<key>IOProbeScore</key>
	<integer>5000</integer>
	<key>IOProviderClass</key>
	<string>IOPCIDevice</string>
	<key>Revision</key>
	<data>
	AAM=
	</data>
	<key>UsbBusCurrentPoolID</key>
	<integer>4294968035</integer>
	<key>controller-statistics</key>
	<dict>
		<key>kControllerStatIOCount</key>
		<integer>143346</integer>
		<key>kControllerStatPowerStateTime</key>
		<dict>
			<key>kPowerStateOff</key>
			<string>0ms (0%)</string>
			<key>kPowerStateOn</key>
			<string>1428234ms (100%)</string>
			<key>kPowerStateSleep</key>
			<string>0ms (0%)</string>
			<key>kPowerStateSuspended</key>
			<string>0ms (0%)</string>
		</dict>
		<key>kControllerStatSpuriousInterruptCount</key>
		<integer>0</integer>
	</dict>
	<key>device-properties</key>
	<dict>
		<key>AAPL,slot-name</key>
		<data>
		b25ib2FyZAA=
		</data>
		<key>acpi-device</key>
		<string>IOACPIPlatformDevice is not serializable</string>
		<key>acpi-path</key>
		<string>IOACPIPlane:/_SB/PCI0@0/XHC@140000</string>
		<key>acpi-wake-type</key>
		<data>
		AQ==
		</data>
		<key>model</key>
		<data>
		SW50ZWwgQ29tZXQgTGFrZSBQQ0gtViBVU0IgQ29udHJvbGxlcgA=
		</data>
	</dict>
	<key>kUSBSleepPortCurrentLimit</key>
	<integer>2100</integer>
	<key>kUSBSleepPowerSupply</key>
	<integer>5100</integer>
	<key>kUSBSleepSupported</key>
	<true/>
	<key>kUSBWakePortCurrentLimit</key>
	<integer>2100</integer>
	<key>kUSBWakePowerSupply</key>
	<integer>5100</integer>
	<key>locationID</key>
	<integer>335544320</integer>
	<key>name</key>
	<data>
	WEhDAA==
	</data>
	<key>port-count</key>
	<data>
	GAAAAA==
	</data>
	<key>ports</key>
	<dict>
		<key>#HS10</key>
		<dict>
			<key>#Comment</key>
			<string>USB 2.0 Port (Internal)</string>
			<key>#UsbConnector</key>
			<integer>255</integer>
			<key>#port</key>
			<data>
			CgAAAA==
			</data>
		</dict>
		<key>#HS12</key>
		<dict>
			<key>#Comment</key>
			<string>USB 2.0 Port (Internal)</string>
			<key>#UsbConnector</key>
			<integer>255</integer>
			<key>#port</key>
			<data>
			DAAAAA==
			</data>
		</dict>
		<key>#SS06</key>
		<dict>
			<key>#Comment</key>
			<string>USB 3.0 Port Type A</string>
			<key>#UsbConnector</key>
			<integer>3</integer>
			<key>#port</key>
			<data>
			FgAAAA==
			</data>
		</dict>
		<key>#SS07</key>
		<dict>
			<key>#Comment</key>
			<string>USB 3.0 Port (Internal)</string>
			<key>#UsbConnector</key>
			<integer>255</integer>
			<key>#port</key>
			<data>
			FwAAAA==
			</data>
		</dict>
		<key>#SS08</key>
		<dict>
			<key>#Comment</key>
			<string>USB 3.0 Port Type A</string>
			<key>#UsbConnector</key>
			<integer>3</integer>
			<key>#port</key>
			<data>
			GAAAAA==
			</data>
		</dict>
		<key>HS01</key>
		<dict>
			<key>Comment</key>
			<string>USB 2.0 Hub (Internal)</string>
			<key>UsbConnector</key>
			<integer>0</integer>
			<key>port</key>
			<data>
			AQAAAA==
			</data>
		</dict>
		<key>HS02</key>
		<dict>
			<key>Comment</key>
			<string>USB 2.0 Port Type A</string>
			<key>UsbConnector</key>
			<integer>0</integer>
			<key>port</key>
			<data>
			AgAAAA==
			</data>
		</dict>
		<key>HS03</key>
		<dict>
			<key>Comment</key>
			<string>USB 2.0 Port Type A (Case)</string>
			<key>UsbConnector</key>
			<integer>0</integer>
			<key>port</key>
			<data>
			AwAAAA==
			</data>
		</dict>
		<key>HS04</key>
		<dict>
			<key>Comment</key>
			<string>USB 2.0 Port Type A (Case)</string>
			<key>UsbConnector</key>
			<integer>0</integer>
			<key>port</key>
			<data>
			BAAAAA==
			</data>
		</dict>
		<key>HS05</key>
		<dict>
			<key>Comment</key>
			<string>USB 2.0 Port Type A</string>
			<key>UsbConnector</key>
			<integer>0</integer>
			<key>port</key>
			<data>
			BQAAAA==
			</data>
		</dict>
		<key>HS06</key>
		<dict>
			<key>Comment</key>
			<string>USB 2.0 Port Type A</string>
			<key>UsbConnector</key>
			<integer>0</integer>
			<key>port</key>
			<data>
			BgAAAA==
			</data>
		</dict>
		<key>HS07</key>
		<dict>
			<key>Comment</key>
			<string>USB 2.0 Port Type A</string>
			<key>UsbConnector</key>
			<integer>0</integer>
			<key>port</key>
			<data>
			BwAAAA==
			</data>
		</dict>
		<key>HS08</key>
		<dict>
			<key>Comment</key>
			<string>USB 2.0 Port Type A</string>
			<key>UsbConnector</key>
			<integer>0</integer>
			<key>port</key>
			<data>
			CAAAAA==
			</data>
		</dict>
		<key>HS09</key>
		<dict>
			<key>Comment</key>
			<string>USB 2.0 Port Type C (Case)</string>
			<key>UsbConnector</key>
			<integer>9</integer>
			<key>port</key>
			<data>
			CQAAAA==
			</data>
		</dict>
		<key>HS11</key>
		<dict>
			<key>Comment</key>
			<string>USB 2.0 Port Type A</string>
			<key>UsbConnector</key>
			<integer>0</integer>
			<key>port</key>
			<data>
			CwAAAA==
			</data>
		</dict>
		<key>SS01</key>
		<dict>
			<key>Comment</key>
			<string>USB 3.0 Port Type A</string>
			<key>UsbConnector</key>
			<integer>3</integer>
			<key>port</key>
			<data>
			EQAAAA==
			</data>
		</dict>
		<key>SS02</key>
		<dict>
			<key>Comment</key>
			<string>USB 3.0 Port Type A</string>
			<key>UsbConnector</key>
			<integer>3</integer>
			<key>port</key>
			<data>
			EgAAAA==
			</data>
		</dict>
		<key>SS03</key>
		<dict>
			<key>Comment</key>
			<string>USB 3.0 Port Type A</string>
			<key>UsbConnector</key>
			<integer>3</integer>
			<key>port</key>
			<data>
			EwAAAA==
			</data>
		</dict>
		<key>SS04</key>
		<dict>
			<key>Comment</key>
			<string>USB 3.0 Hub (Internal)</string>
			<key>UsbConnector</key>
			<integer>3</integer>
			<key>port</key>
			<data>
			FAAAAA==
			</data>
		</dict>
		<key>SS05</key>
		<dict>
			<key>Comment</key>
			<string>USB 3.0 Port Type A</string>
			<key>UsbConnector</key>
			<integer>3</integer>
			<key>port</key>
			<data>
			FQAAAA==
			</data>
		</dict>
	</dict>
</dict>
</plist>
