<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.usb.AppleUSBXHCIPCI</string>
	<key>CFBundleIdentifierKernel</key>
	<string>com.apple.driver.usb.AppleUSBXHCIPCI</string>
	<key>IOClass</key>
	<string>AppleUSBXHCIPCI</string>
	<key>IOGeneralInterest</key>
	<string>IOCommand is not serializable</string>
	<key>IOMatchCategory</key>
	<string>IODefaultMatchCategory</string>
	<key>IOMatchedAtBoot</key>
	<true/>
	<key>IOPCIClassMatch</key>
	<string>0x0c033000</string>
	<key>IOPCIPauseCompatible</key>
	<true/>
	<key>IOPCITunnelCompatible</key>
	<true/>
	<key>IOPCIUseDeviceMapper</key>
	<true/>
	<key>IOPersonalityPublisher</key>
	<string>com.apple.driver.usb.AppleUSBXHCIPCI</string>
	<key>IOPowerManagement</key>
	<dict>
		<key>CapabilityFlags</key>
		<integer>32768</integer>
		<key>ChildrenPowerState</key>
		<integer>3</integer>
		<key>CurrentPowerState</key>
		<integer>3</integer>
		<key>DevicePowerState</key>
		<integer>0</integer>
		<key>DriverPowerState</key>
		<integer>0</integer>
		<key>MaxPowerState</key>
		<integer>3</integer>
	</dict>
	<key>IOProbeScore</key>
	<integer>0</integer>
	<key>IOProviderClass</key>
	<string>IOPCIDevice</string>
	<key>Revision</key>
	<data>
	AAM=
	</data>
	<key>UsbBusCurrentPoolID</key>
	<integer>4294968054</integer>
	<key>controller-statistics</key>
	<dict>
		<key>kControllerStatIOCount</key>
		<integer>166</integer>
		<key>kControllerStatPowerStateTime</key>
		<dict>
			<key>kPowerStateOff</key>
			<string>0ms (0%)</string>
			<key>kPowerStateOn</key>
			<string>10886182ms (100%)</string>
			<key>kPowerStateSleep</key>
			<string>0ms (0%)</string>
			<key>kPowerStateSuspended</key>
			<string>0ms (0%)</string>
		</dict>
		<key>kControllerStatSpuriousInterruptCount</key>
		<integer>0</integer>
	</dict>
	<key>device-properties</key>
	<dict>
		<key>AAPL,slot-name</key>
		<data>
		U2xvdC0gMw==
		</data>
		<key>acpi-device</key>
		<string>IOACPIPlatformDevice is not serializable</string>
		<key>acpi-path</key>
		<string>IOACPIPlane:/_SB/PCI0@0/RP05@1c0004/PXSX@0</string>
		<key>acpi-wake-type</key>
		<data>
		AQ==
		</data>
		<key>model</key>
		<data>
		Vkw4MDUvODA2IHhIQ0kgVVNCIDMuMCBDb250cm9sbGVy
		</data>
	</dict>
	<key>kUSBSleepPortCurrentLimit</key>
	<integer>2100</integer>
	<key>kUSBSleepPowerSupply</key>
	<integer>5100</integer>
	<key>kUSBSleepSupported</key>
	<true/>
	<key>kUSBWakePortCurrentLimit</key>
	<integer>2100</integer>
	<key>kUSBWakePowerSupply</key>
	<integer>5100</integer>
	<key>locationID</key>
	<integer>0</integer>
	<key>name</key>
	<data>
	UFhTWAA=
	</data>
	<key>port-count</key>
	<data>
	BQAAAA==
	</data>
	<key>ports</key>
	<dict>
		<key>HS01</key>
		<dict>
			<key>UsbConnector</key>
			<integer>255</integer>
			<key>port</key>
			<data>
			AQAAAA==
			</data>
		</dict>
		<key>SS01</key>
		<dict>
			<key>UsbConnector</key>
			<integer>3</integer>
			<key>port</key>
			<data>
			AgAAAA==
			</data>
		</dict>
		<key>SS02</key>
		<dict>
			<key>UsbConnector</key>
			<integer>3</integer>
			<key>port</key>
			<data>
			AwAAAA==
			</data>
		</dict>
		<key>SS03</key>
		<dict>
			<key>UsbConnector</key>
			<integer>3</integer>
			<key>port</key>
			<data>
			BAAAAA==
			</data>
		</dict>
		<key>SS04</key>
		<dict>
			<key>UsbConnector</key>
			<integer>3</integer>
			<key>port</key>
			<data>
			BQAAAA==
			</data>
		</dict>
	</dict>
</dict>
</plist>
