<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.usb.AppleUSBXHCIPCI</string>
	<key>CFBundleIdentifierKernel</key>
	<string>com.apple.driver.usb.AppleUSBXHCIPCI</string>
	<key>IOClass</key>
	<string>AppleASMediaUSBXHCI</string>
	<key>IOMatchCategory</key>
	<string>IODefaultMatchCategory</string>
	<key>IOMatchedAtBoot</key>
	<true/>
	<key>IOPCIClassMatch</key>
	<string>0x0c033000</string>
	<key>IOPCIPauseCompatible</key>
	<true/>
	<key>IOPCIPrimaryMatch</key>
	<string>0x00001b21&amp;0x0000ffff</string>
	<key>IOPCITunnelCompatible</key>
	<true/>
	<key>IOPCIUseDeviceMapper</key>
	<true/>
	<key>IOPersonalityPublisher</key>
	<string>com.apple.driver.usb.AppleUSBXHCIPCI</string>
	<key>IOPowerManagement</key>
	<dict>
		<key>CapabilityFlags</key>
		<integer>65536</integer>
		<key>ChildrenPowerState</key>
		<integer>2</integer>
		<key>CurrentPowerState</key>
		<integer>2</integer>
		<key>DevicePowerState</key>
		<integer>0</integer>
		<key>DriverPowerState</key>
		<integer>0</integer>
		<key>MaxPowerState</key>
		<integer>3</integer>
	</dict>
	<key>IOProbeScore</key>
	<integer>1000</integer>
	<key>IOProviderClass</key>
	<string>IOPCIDevice</string>
	<key>Revision</key>
	<data>
	AgM=
	</data>
	<key>UsbBusCurrentPoolID</key>
	<integer>4294968049</integer>
	<key>controller-statistics</key>
	<dict>
		<key>kControllerStatIOCount</key>
		<integer>0</integer>
		<key>kControllerStatPowerStateTime</key>
		<dict>
			<key>kPowerStateOff</key>
			<string>0ms (0%)</string>
			<key>kPowerStateOn</key>
			<string>472ms (0%)</string>
			<key>kPowerStateSleep</key>
			<string>0ms (0%)</string>
			<key>kPowerStateSuspended</key>
			<string>10885718ms (99%)</string>
		</dict>
		<key>kControllerStatSpuriousInterruptCount</key>
		<integer>0</integer>
	</dict>
	<key>device-properties</key>
	<dict>
		<key>acpi-device</key>
		<string>IOACPIPlatformDevice is not serializable</string>
		<key>acpi-path</key>
		<string>IOACPIPlane:/_SB/PCI0@0/RP19@1b0000/PXSX@0</string>
		<key>acpi-wake-type</key>
		<data>
		AQ==
		</data>
		<key>model</key>
		<data>
		QVNNZWRpYSBUZWNobm9sb2d5IEFTTTMyNDEgVVNCIDMuMCBYSENJIENvbnRy
		b2xsZXI=
		</data>
	</dict>
	<key>kUSBSleepPortCurrentLimit</key>
	<integer>2100</integer>
	<key>kUSBSleepPowerSupply</key>
	<integer>5100</integer>
	<key>kUSBSleepSupported</key>
	<true/>
	<key>kUSBWakePortCurrentLimit</key>
	<integer>2100</integer>
	<key>kUSBWakePowerSupply</key>
	<integer>5100</integer>
	<key>locationID</key>
	<integer>16777216</integer>
	<key>name</key>
	<data>
	UFhTWAA=
	</data>
	<key>port-count</key>
	<data>
	AgAAAA==
	</data>
	<key>ports</key>
	<dict>
		<key>HS01</key>
		<dict>
			<key>UsbConnector</key>
			<integer>3</integer>
			<key>port</key>
			<data>
			AgAAAA==
			</data>
		</dict>
		<key>SS01</key>
		<dict>
			<key>UsbConnector</key>
			<integer>3</integer>
			<key>port</key>
			<data>
			AQAAAA==
			</data>
		</dict>
	</dict>
</dict>
</plist>
